<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item ">
                <a class="" href="/search/show">词根管理</a>
            </li>
            <li class="layui-nav-item ">
                <a class="" href="javascript:;">商务通模块</a>
                <dl class="layui-nav-child">
                    <dd><a style="color:#ffffff" href="/">文件上传</a></dd>
                    <dd><a href="/index/swtFile">文件管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">竞价数据模块</a>
                <dl class="layui-nav-child">
                    <dd><a href="/jinjia/index">文件上传</a></dd>
                    <dd><a href="/jinjia/jjFile">文件管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item ">
                <a href="javascript:;">项目模块</a>
                <dl class="layui-nav-child">
                    <dd><a href="/jinjia/addUser">项目账号管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item ">
                <a href="javascript:;">搜索词模块</a>
                <dl class="layui-nav-child">
                    <!-- <dd><a style="color:#ffffff" href="/search/show">词根管理</a></dd> -->
                    <dd><a href="/sousuo">搜索词导入</a></dd>
                    <dd><a href="/search">搜索词数据</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item ">
                <a href="javascript:;">临时数据处理</a>
                <dl class="layui-nav-child">
                        <dd><a style="color:#ffffff" href="/">商务通文件上传</a></dd>
                        <dd><a href="/index/swtFile">商务通文件管理</a></dd>
                        <dd><a href="/jinjia/index">竞价文件上传</a></dd>
                        <dd><a href="/jinjia/jjFile">竞价文件管理</a></dd>
                    <dd><a href="/sousuo">搜索词导入</a></dd>
                    <dd><a href="/search">搜索词数据</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>